* {
    padding: 0;
    margin: 0;
}

.nav-pills .nav-link {
    border-radius: 0rem;
    // background-color: #222d32;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
}

.nav-item {
    a {
        color: #bfcfd5;
        font-size: 14px;
        margin-left: 30px;
    }
}


.card {
    border-radius: 0px;
    background-color: transparent;
    transition: 0.3s;

    .card-header {
        padding: 0;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
        border-bottom: 1px solid rgba(0, 0, 0, .125);

        button {
            color: #edeeee;
            font-size: 16px;
        }

    }

    .collapse.show {
        transition: 0.1s;
        background-color: #2c3b41;
    }
}

.card-body {
    padding: 0px;
}

.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    background-color: #eee;

    a {
        color: #1a2226;
    }
}

.icon-pr {
    width: 24px;
    margin-right: 10px;
}



// bootstrap reset

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.main {
    background-color: #fff;
    height: 1000px;
}


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    background-color: #1a2226;
}

.brand-logo {
    width: 100%;
    height: 80px;
    background-color: #377fa7;

    h3 {
        text-align: center;
        line-height: 80px;
        color: #fff;
        font-size: 18px;
    }
}

.staff {
    margin: 20px;

    .avatar {
        width: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .username {
        padding-left: 20px;
        color: #fff;
        align-self: center;
    }

}

.main-bg {
    background-color: #fff;
    height: 100%;
    width: 90%;
}

.bottom-icon {
    justify-content: space-evenly;
    margin: 20px 0px;

    i {
        width: 24px;
        color: #fff;
        font-size: 24px;
    }
}

.post-title {
    width: 20px; // 可改為指定寬度
    overflow: hidden; // 超出範圍的部分隱藏
    white-space: nowrap; // 不自動斷行
    text-overflow: ellipsis; // 出現省略號
    }